table, td, th{
    border-bottom: 1px solid;
    border-collapse: collapse;
    
    }

    .container{

        /* margin-left: 10; */

    }
    
    table{
    
        width: 80%;
        font-size: 20px;
    }
    
    caption {
        
        padding: 10px;   
            
    }
    
    th{
        background-color: dodgerblue;
        color: white;
    }
    
    tr{
    
        width: 50%;
    
    }
    
    td, th{
        /* background-color: blueviolet; */
        padding: 15px;
        border-color: #96d4d9;
    }
    
    tr: :hover{
        background-color: da
    }

    .icons{
        background-color: green;
        padding: 1px;
        border-radius: 5px;
        margin-left: 5px;
        color: white;
    }
    .xicons{
        background-color: red;
        padding: 2px;
        border-radius: 5px;
        margin-left: 5px;

    }

    .gicons{
        background-color: yellow;
        padding: 1px;
        border-radius: 5px;
        margin-left: 5px;
        color: white;

    }
